/* Hemen index.html-ren estiloa eta alde bisuala landuko eta difinituko da */

.content {
  max-width: 350px;
  margin: auto;
}
.php {
  background-color: coral;
  border: 2px solid black;
  border-radius: 5px;
  position: center;
}
.inputak {
  background-color: coral;
  border: 2px solid black;
  border-radius: 5px;
  position: center;
}
.botoiak {
  background-color: coral;
  border: 2px solid black;
  border-radius: 5px;
  position: center;
}
.irudia {
  max-width: 300px;
  margin: auto;
}
